## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a organized collection of information mainly in the form of tables .Database is generally controlled by software DBMS

### SQL

Sql stands for Structured Query Language ,it is used to query the data present in the relational tables in organized form.

Sql needs to use a pre defined Schema .

These databases are very good for complex queries .

### NoSql

NoSql uses dynamic schemas, it can handle flexible data without any structure it is highly scalable as well

These databaes are not so good for complex queries.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDl stands for data definition language.These commands can be used to Design a database structure

### Create

CREATE TABLE information (

    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City_Name varchar(255)
);

it used to create a table in DB

### Drop

Drop Table information;

Drop table is used to drop the whole table along with its structure from a DB

### Alter

ALTER TABLE information
ADD Age int;

Alter command is used to add any column in existing table

### Truncate

Truncate Table information;

truncate command is used to clear the data present in the table.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation language ,it is used to insert ,update or delete the data in table

### Insert

INSERT INTO information (PersonID ,
                         
    LastName ,
    FirstName,
    Address,
    City_Name)

VALUES (123,'rattan','kanishk','delhi','delhi');

insert is used to add a row in the table

### Update

UPDATE information

SET FirstName = 'vishal'

WHERE City_Name='Delhi';

it used to update the value present in tabele

### Delete

DELETE FROM information WHERE FirstName='kanishk';

delete is used to delete data from table based on conditions

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language,it is use to query data in tabe;

Select * from information where City_Name='Delhi'

Above query will give information where city is delhi

## Q5. Explain Primary Key and Foreign Key.

### Primary Key

Primary key in a table is used to map each row in the table ,
primary keys are always unique

### Foreign Key

 foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Show Databases")
for x in mycursor:
  print(x)

A database cursor is an object that enables traversal over the rows of a result set. It allows you to process individual row returned by a query

Exeecute method is used to execute SQl command .

## Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.